<div class="jumbotron">
    <h1 class="title">Dream Job</h1>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">Get Dream Job</a></p>
</div>
<section id="company">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 ">
                <div class="thumbnail">
                    <img src="https://ww2.sinaimg.cn/large/006tNc79jw1fc2lc5w6jmj301s01sgle.jpg" alt="search" class="img-thhumbnail">
                    <div class="caption">
                        <h3>北京朝阳建外SOHO</h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 ">
                <div class="thumbnail">
                    <img src="https://ww4.sinaimg.cn/large/006tNc79jw1fc2le9weu3j301s01smwy.jpg" alt="bid" class="img-thhumbnail">
                    <div class="caption">
                        <h3>careers@dreamjob.com</h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 ">
                <div class="thumbnail">
                    <img src="https://ww1.sinaimg.cn/large/006tNc79jw1fc2lgbn3crj301s01sdfm.jpg" alt="heart" class="img-thhumbnail">
                    <div class="caption">
                        <h3>010-12344321</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
