<div class="pageone">
<div class="container-fluid">
    <div class="photo" id="apple">
      <div class="picture">
        <img src="https://ooo.0o0.ooo/2017/01/14/5879fb0a7d830.jpeg" width="300px;">
      </div>
 <h1>lalala</h1>
    </div>
  </div>

 <h2>lalala</h2>
 <p>hahaha <br><hr>blablabla哈哈哈</p>
</div>

<div class="pagetwo">
  <div class="photo" id="apple">
    <div class="picture">
      <img src="https://ooo.0o0.ooo/2017/01/14/5879fb0a7d830.jpeg" width="300px;">
    </div>

    </div>
</div>
